{% include "do-not-edit.njk" %}

pipeline {
    agent any
    environment {
        {%- include "jenkins-secrets.njk" %}
    }
    stages {
        {%- for step in steps %}
        stage('{{ step.name }}') {
            steps {
                {%- for substep in step.substeps %}
                echo '{{ substep | replace("-", "_") }}'
                sh "rhtap/{{ substep }}.sh"
                {%- endfor %}
            }
        }
        {%- endfor %}
    }
}
