pipeline {
    agent any
    environment {
        {%- for secret in secrets %}
        {% if secret.comment -%}
        /* {{ secret.comment }} */
        {% endif -%}
        {% if secret.commented_out %}/* {% endif %}{{ secret.name }} = credentials('{{ secret.name }}'){% if secret.commented_out %} */{% endif %}
        {%- endfor %}
    }
    stages {
        {%- for step in steps %}
        stage('{{ step.name }}') {
            steps {
                {%- for substep in step.substeps %}
                echo '{{ substep | replace("-", "_") }}'
                sh "rhtap/{{ substep }}.sh"
                {%- endfor %}
            }
        }
        {%- endfor %}
    }
}
