library identifier: 'RHTAP_Jenkins@main', retriever: modernSCM(
  [$class: 'GitSCMSource',
   remote: 'https://github.com/redhat-appstudio/tssc-sample-jenkins.git'])


pipeline {
    agent any
    environment {
        {%- include "jenkins-secrets.njk" %}
    }
    stages {
        {%- for step in steps %}
        stage('{{ step.name }}') {
            steps {
                script {
                    {%- for substep in step.substeps %}
                    rhtap.info('{{ substep | replace("-", "_") }}')
                    rhtap.{{ substep | replace("-", "_") }}()
                    {%- endfor %}
                }
            }
        }
        {%- endfor %}
    }
}
